[flake8]
max-line-length = 100
extend-ignore =
    E203,
    W503,
    D100,
    D104,
    D401,
    D205,
    D400,
exclude =
    .git,
    __pycache__,
    .venv,
    build,
    dist,
    synedu/S*/notebook.py,
per-file-ignores =
    tests/*: D101,D102,D103
    synedu/__init__.py: F401
